.container {
    display: flex;
    justify-content: space-between;
}

.form {
    flex: 1;
}
.p-card {
    padding-top:0px; 
}
.table
{
    flex:3;
    margin-top: 20px;
}
.card {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
