<div class="container">
    <div class="form">
        <div class="card">
            <p-card >
                <h2>User Info</h2>
                <form>
                    <div class="p-field">
                        <label for="FirstName">First Name:</label>
                        <input id="username" type="text" pInputText  name="username" required>
                    </div>
                    <div class="p-field">
                        <label for="LastName">Last Name:</label>
                        <input id="username" type="text" pInputText  name="username" required>
                    </div>
                    <div class="p-field">
                        <label for="email">password :</label>
                        <input id="email" type="password" pInputText  name="email" required>
                    </div>
                    <div class="p-field">
                        <label for="password">Role Code:</label>
                        <input id="password" type="text" pInputText   name="password" required>
                    </div>
                    <div class="p-field">
                        <button pButton type="submit" label="Submit"></button>
                    </div>
                </form>
            </p-card>   
        </div>
    </div>